html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("img/precarious-background.png") no-repeat center center fixed;
  background-size: cover;
  padding: 29px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 1.25;

  /* ie11 flexbox min-height workaround */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

img.amberox-logo {
  height: auto;
  width: auto;
  max-width: 88px;
  max-height: 88px;
}

img.precarious-logo {
  height: auto;
  width: auto;
  max-width: 415px;
  max-height: 320px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}

.social-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link + .social-link {
  margin-left: 13px;
}

img.social-icon {
  height: auto;
  width: auto;
  max-height: 24px;
  max-width: 24px;
}

.text {
  text-align: center;
  text-transform: uppercase;
  color: #404041;
}

span.em {
  font-size: 10px;
  font-style: italic;
}
